*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    background-color: #08A95E;
}
header img{
    width: 8%;
    height: auto;
    background-color: #08A95E;
    padding: 30px;
}
div p{
    border: #08A95E;
    border-radius: 200px;
}